*~
*.orig
*.o
*.la
*.lo

.deps
.libs

TAGS
GPATH
GRTAGS
GSYMS
GTAGS

**Makefile
**Makefile.in

aclocal.m4
autom4te.cache

config.log
config.status
configure

build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/install-sh
build-aux/missing
build-aux/mdate-sh
build-aux/texinfo.tex
build-aux/depcomp
build-aux/ltmain.sh
build-aux/test-driver

doc/liblouisutdml.html
doc/liblouisutdml.info
doc/liblouisutdml.txt
doc/liblouisutdml.pdf
doc/liblouisutdml.t2p
doc/stamp-vti
doc/version.texi

file2brl.temp
file2brl.log

gnulib/unistd.h
gnulib/arg-nonnull.h
gnulib/c++defs.h
gnulib/stdlib.h
gnulib/sys/types.h
gnulib/warn-on-use.h

INSTALL

liblouisutdml.pc
liblouisutdml/config.h
liblouisutdml/config.h.in
liblouisutdml/stamp-h1

liblouisutdml-*.tar.gz

libtool

man/file2brl.1

aclocal.m4

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

tests/run_test_suite.sh
tests/testTranslateString
tests/tripleTrans
tests/**/*.log
tests/**/*.trs
tests/**/output.txt
tests/**/error.log

tools/file2brl

# Java
**/*.class

# Eclipse
.cproject
.project
