*~
*.orig
*.o
*.la
*.lo

.deps
.libs

TAGS

**Makefile
**Makefile.in

aclocal.m4
autom4te.cache

config.log
config.status
configure

build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/install-sh
build-aux/missing
build-aux/mdate-sh
build-aux/texinfo.tex
build-aux/depcomp
build-aux/ltmain.sh
build-aux/test-driver

doc/liblouisutdml.html
doc/liblouisutdml.info
doc/liblouisutdml.txt
doc/liblouisutdml.pdf
doc/liblouisutdml.t2p
doc/stamp-vti
doc/version.texi

file2brl.temp

gnulib/unistd.h
gnulib/arg-nonnull.h
gnulib/c++defs.h
gnulib/stdlib.h
gnulib/sys/types.h
gnulib/warn-on-use.h

INSTALL

liblouisutdml.pc
liblouisutdml/config.h
liblouisutdml/config.h.in
liblouisutdml/stamp-h1

liblouisutdml-*.tar.gz

libtool

man/file2brl.1

aclocal.m4

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

tests/testTranslateString
tests/tripleTrans
tests/*.log
tests/*.trs
tests/**/output.txt
tests/**/error.log

tools/file2brl

# Java
**/*.class

# Eclipse
.cproject
.project
*.obj
*.tlog
windows/msvc/liblouisutdml/Debug/liblouisutdml.dll
*.exp
windows/msvc/liblouisutdml/Debug/liblouisutdml.ilk
windows/msvc/liblouisutdml/Debug/liblouisutdml.lib
windows/msvc/liblouisutdml/Debug/liblouisutdml.log
windows/msvc/liblouisutdml/Debug/liblouisutdml.pdb
windows/msvc/liblouisutdml/Debug/vc140.idb
windows/msvc/liblouisutdml/Debug/vc140.pdb
windows/msvc/liblouisutdml/Release/liblouisutdml.dll
windows/msvc/liblouisutdml/Release/liblouisutdml.iobj
windows/msvc/liblouisutdml/Release/liblouisutdml.ipdb
windows/msvc/liblouisutdml/Release/liblouisutdml.lib
windows/msvc/liblouisutdml/Release/vc140.pdb
windows/msvc/liblouisutdml/Release/liblouisutdml.pdb
windows/msvc/liblouisutdml/Release/liblouisutdml.log
windows/msvc/liblouisutdml/liblouisutdml.opensdf
windows/msvc/liblouisutdml/liblouisutdml.sdf
windows/msvc/liblouisutdml/liblouisutdml.sdf
windows/msvc/liblouisutdml/liblouisutdml.sdf
windows/msvc/liblouisutdml/liblouisutdml.sdf
windows/msvc/liblouisutdml/liblouisutdml.sdf
windows/msvc/liblouisutdml/.vs/liblouisutdml/v14/.suo
*.suo
*.suo
*.exe
*.ilk
*.pdb
*.exe
*.log
/windows/msvc/liblouisutdml/liblouisutdml.VC.db
/windows/msvc/liblouisutdml/liblouisutdml.VC.VC.opendb
/windows/msvc/file2brl/file2brl.VC.db
