cellsPerLine 32
linesPerPage 25
interpoint no
emphasis all
braillePages no
continuePages yes
pageSeparator yes
pageSeparatorNumber yes
#backFormat html
#hyphenate yes
literaryTextTable en-us-g2.ctb
compbrlTable en-us-comp8.ctb
uncontractedTable en-us-g1.ctb
mathtextTable en-us-g2.ctb
mathexprTable nemeth.ctb
editTable nemeth_edit.ctb
semanticFiles *,nemeth.sem

style document
	linesBefore 0
	linesAfter 0
	leftMargin 0
	firstLineIndent 0
	translate contracted
	skipNumberLines no
	format leftJustified
	newPageBefore no
	newPageAfter no
	righthandPage no
	braillePageNumberFormat normal

style arith
style attribution
	format rightJustified
style biblio
style caption
	leftMargin 4
	firstLineIndent 2
style code
	linesBefore 1
	linesAfter 1
	skipNumberLines yes
	format computerCoded
style contentsheader
	linesBefore 1
	format centered
	linesAfter 1
style contents1
	firstLineIndent -2
	leftMargin 2
	format contents
style contents2
	firstLineIndent -2
	leftMargin 4
	format contents
style contents3
	firstLineIndent -2
	leftMargin 6
	format contents
style contents4
	firstLineIndent -2
	leftMargin 8
	format contents
style dedication
	newPageBefore yes
	newPageAfter yes
	format centered
style directions
style dispmath
	leftMargin 2
style disptext
	leftMargin 2
	firstLineIndent 2
style exercise1
	leftMargin 2
	firstLineIndent -2
style exercise2
	leftMargin 4
	firstLineIndent -2
style exercise3
	leftMargin 6
	firstLineIndent -2
style glossary
	firstLineIndent 2
style graph
	skipNumberLines yes
style graphlabel
style heading1
	linesBefore 1
	format centered
	linesAfter 1
style heading2
	linesBefore 1
	firstLineIndent 4
style heading3
	firstLineIndent 4
style heading4
	firstLineIndent 4
style index
style line
	firstLineIndent -2
	leftMargin 2
style list
	firstLineIndent -2
	leftMargin 2
style matrix
	format alignColumnsLeft
style music
	skipNumberLines yes
style note
style para
	firstLineIndent 2
style quotation
	linesBefore 1
	linesAfter 1
style section
	firstLineIndent 4
style spatial
style stanza
	linesBefore 1
	linesAfter 1
style style1
style style2
style style3
style style4
style style5
style subsection
	firstLineIndent 4
style table
	linesBefore 1
	linesAfter 1
style titlepage
	newPageAfter yes
style trnote
	firstLineIndent 7
	leftMargin 5
style volume

