include preferences.cfg

# Russian literary and mathematical Braille.
literarytextTable ru-litbrl.ctb
uncontractedTable ru-litbrl.ctb
mathtextTable ru-litbrl.ctb
mathexprTable russian.ctb
editTable unicode.dis,braille-patterns.cti,russian_edit.ctb

internetAccess no
semanticFiles *,russian.sem

